@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* color: #fff; */
}
::selection{
    background-color: #fff;
    color: #96c11e;
}

body::-webkit-scrollbar{
    width: 0.5rem;
    background-color: #000;
}
body::-webkit-scrollbar-thumb{
    background-color: #96c11e;
    border-radius: 0.5rem;
}

html,body {
  width: 100%;
  height: 100%;
}


#cursor{
    z-index: 1000;
    width: 1.25rem;
    height: 1.25rem;
    background-color: #96c11e;
    border-radius: 50%;
    mix-blend-mode: difference;
    position: fixed;
    transform: translate(-50%,-50%);
    pointer-events: none;
    /* transition: transform 1s; */
}
#cursor-blur{
    z-index: 100;
    position: fixed;
    width: 12rem;
    height: 12rem;
    background-color: #96c11e5c;
    border-radius: 50%;
    filter: blur(20px);
    pointer-events: none;
}

.elemHover{
    border: 2rem solid #fff;
}

#nav{
    width: 100%;
    position: fixed;
    height: 8rem;
    padding: 0 7.5rem;
    /* background-color: red; */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3rem;
    z-index: 150;
}

#nav img{
    width: 6.05rem;
    transform-origin: right bottom;
    transition: transform 0.5s;
}
#nav img:hover{
    transform: scale(0.9);
    cursor: pointer;
}
#nav a{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
#nav a:hover{
    color: black;
    cursor: pointer;
}


video{
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -10;
}


#main{
    position: relative;
    background-color: #0000005a;
    z-index: 40;
}
#page1{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 45;
    color: #fff;
}
#page1 h1{
    font-size: 9rem;
    font-weight: 800;
    width: 70rem;
    text-align: center;
    line-height: 8rem;
    margin-bottom: 2rem;
    z-index: 50;
    position: relative;
}
#page1 h1::before{
    content: 'EAT. DRINK. PLAY.';
    position: absolute;
    color: #000;
    top: -6px;
    z-index: -1;
    -webkit-text-stroke: 2px #96c11e;
    left: -10px;
}
#page1 h2{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
#page1 p{
    line-height: 1.75rem;
    font-size: 1.25rem;
    text-align: center;
    width: 50rem;
}

#page2{
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 40;
}

#scroller{
    display: flex;
    gap: 0;
    overflow-x: auto;
}

#scroller::-webkit-scrollbar{
    display: none;
}

.scroll{
    font-weight: 900;
    font-size: 8rem;
    white-space: nowrap;
    animation: scroller 30s linear infinite;
}

.scroll span{
    display: inline-block;
    margin: 1.5rem;
}

.scroll span{
    text-shadow:  0 0 0.3rem #fff;
}
#scroller span{
    transition: color 0.75s;
    /* z-index: 8; */
}
#scroller span:hover{
    text-shadow: none;
    color: #96c11e;
}



@keyframes scroller {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-85%);
    }
}


#about{
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    align-items:center;
    color: #fff;
    gap: 5rem;
    position: relative;
    z-index: 50;
    /* padding: 3rem 2rem; */
}
#about img{
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 1rem;
    object-position: bottom;
    object-fit: cover;
}
#aboutMid{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}
#about p{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}
#about span{
    font-size: 1.25rem;
    line-height: 2rem;
}

#cards{
    padding: 0 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 500;
    margin: 5rem 0;
}

.card{
    width: 25rem;
    border-radius: 1rem;
    height: 32rem;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    transition: 1s;
    color: #fff;
    transition: 0.7s;
}
#card1{
    background-image: url('https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&sharp=1');
}
#card2{
    background-image: url('https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&sharp=1');
}
#card3{
    background-image: url('https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&sharp=1');
}

.overlay{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #96c11e;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 3rem 1.5rem;
    opacity: 0;
    transition: 0.7s;
    overflow: hidden;
}
.overlay i{
    position: absolute;
    font-size: 3rem;
    padding: 1rem;
    border: 0.1rem solid #000;
    border-radius: 50%;
    top: -1rem;
    right: -1rem;
    transition: 0.5s;
}
.overlay h3{
    font-size: 3rem;
}
.overlay p{
    font-size: 1.5rem;
    line-height: 1.85rem;
}
.card:hover .overlay{
    opacity: 1;
    cursor: pointer;
}
.card:hover .overlay i{
    transform: scale(1.2);
}
.card:hover .overlay i:hover{
    background-color: #fff;
    color: #96c11e;
}


#signup{
    position: relative;
    z-index: 150;
    background: linear-gradient(to left bottom,#24a435, #a5d521);
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
#signup img{
    object-fit: cover;
    width: 20%;
}
#signupImg1{
    transform: rotate(180deg);
}
#signup p{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
}

#page3{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 10rem 0;
    overflow: hidden;
}

#scroller2{
    white-space: nowrap;
    padding: 0 2rem;
    width: 100%;
    position: relative;
    animation: scroller 10s linear infinite;
}
#scroller2::-webkit-scrollbar{
    display: none;
}
#scroller2 img{
    width: 15rem;
    height: 15rem;
    margin-right: 2rem;
    border-radius: 1.5rem;
}
#scroller2 img:hover{
    cursor: pointer;
}

#scroller2-follow a{
    text-decoration: none;
    display: block;
    text-align: right;
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.15rem;
    margin: 1rem 2rem 0 0;
}
#scroller2-follow a:hover{
    color: #96c11e;
}

#experience{
    position: relative;
    color: #fff;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#experience p{
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    font-weight: 900;
    width: 60%;
}

#experience img{
    position: absolute;
    width: 6rem;
}
#expImg1{
    top: 5%;
    left: 5%;
}
#expImg2{
    bottom: 5%;
    right: 5%;
}
/* 
#wait{
    } */
    
    #packages{
        text-shadow: 0 0 0.5rem #fff;
        margin-top: 8rem;
        padding: 0 0.5rem;
        color: #000;
        position: relative;
        z-index: 10;
        top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
#packages p{
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
    height: 14rem;
    position: absolute;
}
#packages h2{
    background-color: #a5d521;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2rem 1rem;
    transition: 0.5s;
}
#packages div{
    position: relative;
    text-align: center;
    border-radius: 2rem;
    font-size: 2.5rem;
    font-weight: 900;
    text-shadow: none;
    width: 30rem;
    height: 15rem;
    overflow: hidden;
}
#packages h2:hover{
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}

#packages img{
    width: 100%;
    object-position: center;
    object-fit: cover;
}
